body {
  background-color: #D1E8E2;
}

h1{
  color: #116466;
  font-size: xx-large;
}

input[type=text], select {
  width: 20%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.content{
  padding-left: 5%;
  font-size: medium;
  color: #2C3531;
}





