
{% extends "layout.html" %}

{% block title %}Disney Forum{% endblock %}

{% block content %}
  <h1>Disney Movie Forum</h1>

  <div class= 'content'>
    <form action = '/thread', id="myForm", method= 'GET'>
      {{ threads }}
    </form>
 

    <form action = '/threadAdded', method = 'POST'>
      <input type="text" name="newThread">
      <input type = 'submit' value="New Thread">
    </form>
  </div>

  <script>
    function myFunction(){
      document.getElementById("myForm").submit();
    }
  </script>
{% endblock %}
